@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
  color: black !important;
  cursor: pointer;
  margin-left: 6px;
}

.brand-logo,
h2 {
  font-family: 'Grand Hotel', cursive;
  font-weight: bolder;
  margin-left: 20px;
  width: auto;
}
h5 {
  margin: 0 !important;
}
.content-left {
  float: left;
  margin-left: 8px;
  padding: 5px;
}

.content-right {
  margin-left: 75%;
  margin-top: 12px;
  float: left;
}
span.username {
  margin-left: 6px;
}

.logoutbtn {
  margin-right: 30px;
}

.mycard {
  margin-top: 30px;
}
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type='text']:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type='password']:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.commentSubmit {
  background-color: #1a237e !important;
  color: white !important;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
.collection-item h5 {
  width: 100%;
}

.card home-card {
  margin: 4px;
  padding: 10px;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover {
  cursor: pointer;
}

/* Desktop Styles */
@media (min-width: 701px) {
  /* .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  justify-content: space-between;
  padding-left: 12px;
}  */

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-left: 1px;
  }
  .item {
    width: 165px;
    height: 175px;
    margin-left: 22px;
    /* width: 30%; */
    /* margin-top: 15px; */
    /* margin: 3px; */
    /* flex: 0 1 100px; */
    /* gap: 1px; */
  }
}

/* Mobile Styles */
@media (max-width: 700px) {
  .brand-logo,
  h2 {
    font-family: 'Grand Hotel', cursive;
    font-weight: bolder;
    margin-left: 20px;
    width: auto;
  }
  #profileImage {
    padding: 16px;
  }
  nav ul a {
    padding-right: 3px;
  }
  a.brand-logo.left {
    margin-left: 0px;
  }
  .logoutbtn {
    margin-right: 2px;
    padding: 0px 11px;
    font-size: 10px;
    font-weight: bolder;
  }
  .hide-sm {
    display: none;
  }
  h5 {
    font-size: larger;
    margin-left: 10px;
  }
  h4 {
    margin-left: 10px;
  }
  .follow_list h6 {
    font-size: 12px;
    margin-right: 16px;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-left: 18px;
  }

  .item {
    width: 118px;
    height: 128px;
  }
}
